{% extends 'base.html' %} {% block content %}
<h2>Donor Dashboard</h2>

<h3>Submit Donation Request</h3>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Donate Organ</button>
</form>

<a href="{% url 'total_donor_requests' %}">
  <button>View All Requests</button>
</a>
<br><br>

<h3>Contact Hospitals</h3>

{% for hospital in hospitals %}
    <div>
        <p>{{ hospital.hospital_name }}</p>

        <a href="{% url 'chat_view' hospital.id %}">
            Contact Hospital
        </a>
    </div>
   
{% endfor %}

 <a href="{% url 'notifications' %}">
  <button>View Notifications</button>
</a>
{% endblock %}
