{% extends 'base.html' %} {% block content %}

<h2>Donor Dashboard</h2>

<div class="card-box">
  <h4>Donate Organ</h4>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button class="btn btn-dark">Submit Donation</button>
  </form>
</div>

<div class="card-box">
  <h4>Your Donations</h4>

  <ul>
    {% for d in donations %}
    <li>{{ d.organ }} - {{ d.status }}</li>
    {% empty %}
    <li>No donations yet</li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
