<h2>Organ Tracking</h2>

{% if error %}
<p>{{ error }}</p>
{% else %}

<p>Match ID: {{ tracking.match.id }}</p>
<p>Donor: {{ tracking.match.donor.donor.user.username }}</p>
<p>Receiver: {{ tracking.match.receiver.receiver.user.username }}</p>
<p>Organ: {{ tracking.match.donor.organ }}</p>

<p>
  Status:
  <span class="{{ tracking.css_class }}"> {{ tracking.status }} </span>
</p>

<p>Location: {{ tracking.current_location }}</p>
<p>Last Updated: {{ tracking.last_updated }}</p>

{% if user.role == "hospital" %}
<a href="{% url 'update_tracking' tracking.match.id %}">
  <button>Update Tracking</button>
</a>
{% endif %} {% endif %}
